body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(100vh, 100vh, 100vh);
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#grid {
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    border: 3px solid pink;
    display: flex;
    flex-direction: column;
}

#button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    padding-right: 3px;

    button {
        padding: 3px 12px;
    }
}
